@import "../lib/_grid";

$N: 12;

@for $i from 1 through $N{
	@include col($i);
}

/* PAGE STYLING */

// vendor prefixes for box-shadow
@mixin box-shadow($values...){
	-webkit-box-shadow: $values;
	-moz-box-shadow: $values;
	box-shadow: $values;
}

body{
	background-color: #fff;
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

#wrapper{
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}

hr{
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

.grid{
	padding: 0.25em;
	color: #222;

	.item{
		padding: 0.25em;
		background-color: rgba(white, 0.9);
		border: 1px solid rgba(black, 0.25);

		h1{
			padding: 0.25em;
			border: 1px solid rgba(black, 0.25);
			@include box-shadow(0 0 2em rgba(black, 0.15) inset);
		}
	}
}

h1{
	margin: 0;

	a{
		&,
		&:visited,
		&:link{
			font-size: 2em;
			color: #222;
			text-decoration: none;
			font-variant: normal;
		}

		&:hover,
		&:focus{
			font-variant: small-caps;
			text-decoration: underline;
		}
	}
}