/* GRID USAGE */

@import "../lib/_grid";
@include grid(12);

/* PAGE STYLING */

@font-face {
	font-family: 'UbuntuRegular';
	src: url('fonts/Ubuntu-R-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuBold';
	src: url('fonts/Ubuntu-B-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*{
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-ms-transition: all 150ms;
	-o-transition: all 150ms;
	transition: all 150ms;
}

body{
	background-color: #fff;
	font-family: 'UbuntuRegular', Arial, sans-serif;
}

#wrapper{
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}

hr{
	margin-top: 0;
	margin-bottom: 0.5em;
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

.grid{
	color: #222;

	.item{
		padding: 0.25em;
		background-color: #f6f6f6;
		border: 1px solid rgba(black, 0.25);
	}

	[class|=col]{
		margin-bottom: 0.5em;
	}
}

h1{
	margin: 0;
	padding: 0.5em 0;
	font-family: 'UbuntuBold', Arial, sans-serif;

	a{
		&,
		&:visited,
		&:link{
			color: #222;
			text-shadow: 0 2px 2px #999;
			text-decoration: none;
		}

		&:hover,
		&:focus{
			text-decoration: underline;
			text-shadow: 0 6px 24px #999;
		}
	}
}