/* GRID USAGE */

@import "../lib/_grid";
$padding: 1em;

@include grid(12, $padding);

/* PAGE STYLING */


// fonts
@font-face {
	font-family: 'UbuntuRegular';
	src: url('fonts/Ubuntu-R-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuBold';
	src: url('fonts/Ubuntu-B-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src: url('fonts/icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// icons
.icon-download, .icon-github, .icon-code {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-download:before {
	content: "\e001";
}
.icon-github:before {
	content: "\e000";
}
.icon-code:before {
	content: "\e003";
}

// everything else
a,
button{
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-ms-transition: all 150ms;
	-o-transition: all 150ms;
	transition: all 150ms;
}

body{
	overflow-x: auto;
	overflow-y: scroll;
	background-color: #f5f5f5;
	font-family: 'UbuntuRegular', Arial, sans-serif;
}

#wrapper{
	position: relative;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	border-top: none;
	border-bottom: 1px solid rgba(black, 0.2);
	border-left: 1px solid rgba(black, 0.2);
	border-right: 1px solid rgba(black, 0.2);
}

hr{
	margin-top: $padding;
	margin-bottom: $padding;
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

.grid{
	color: #222;

	.item{
		padding: 0.25em;
		background-color: #f6f6f6;
		outline: 1px solid rgba(black, 0.25);
	}
}

h1,
h2,
.details,
.code{
	margin: 0;
	padding: $padding 0;
	font-family: 'UbuntuBold', Arial, sans-serif;

	a{
		&,
		&:visited,
		&:link{
			color: #222;
			text-shadow: 0 2px 2px #999;
			text-decoration: none;
		}

		&:hover,
		&:focus{
			text-decoration: underline;
			text-shadow: 0 6px 24px #999;
		}
	}
}

h2{
	font-size: 1em;
}

.code{
	position: absolute;
	top: 1em;
	right: $padding;
	display: inline-block;
	padding: $padding;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px #ddd, 0 0 3px #ddd inset;

	.enabled{
		background-color: #000;
		border: 1px solid #222;
		box-shadow: 0 0 3px #111, 0 0 3px #111 inset;

		i{
			color: #fff;
		}

		&:hover{
			i{
				color: #222;
			}
		}
	}

	&:hover{
		background-color: #fff;
		border: 1px solid #ddd;
		box-shadow: 0 0 3px #eee, 0 0 3px #eee inset;
	}
}

.details{
	a{
		display: inline-block;
		margin-right: 1em;
		font-size: 2em;
	}
}

.code-wrap{
	text-align: left;
	padding: 0 $padding;
}

.hidden{
	display: none;
}