/* GRID USAGE */

@import "../lib/modules/_grid";
$padding: 1.5%;

@include grid(12, $padding);

@mixin transition($values...){
	-webkit-transition: $values;
	-moz-transition: $values;
	-ms-transition: $values;
	-o-transition: $values;
	transition: $values;
}

@mixin border-radius($values...){
	-webkit-border-radius: $values;
	-moz-border-radius: $values;
	border-radius: $values;
}

@mixin box-shadow($values...){
	-webkit-box-shadow: $values;
	-moz-box-shadow: $values;
	box-shadow: $values;
}

@mixin text-shadow($values...){
	-webkit-text-shadow: $values;
	-moz-text-shadow: $values;
	-ms-text-shadow: $values;
	-o-text-shadow: $values;
	text-shadow: $values;
}

/* PAGE STYLING */


// fonts
@font-face {
	font-family: 'UbuntuRegular';
	src: url('fonts/Ubuntu-R-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuBold';
	src: url('fonts/Ubuntu-B-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src: url('fonts/icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// icons
.icon-download, .icon-github, .icon-code {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-download:before {
	content: "\e001";
}
.icon-github:before {
	content: "\e000";
}
.icon-code:before {
	content: "\e003";
}

// everything else
a,
button{
	@include transition(all 150ms);
}

body{
	color: #222;
	padding-bottom: 1em;
	overflow-x: auto;
	overflow-y: scroll;
	font-family: 'UbuntuRegular', Arial, sans-serif;
	background-color: #f5f5f5;
}

#wrapper{
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background-color: #fff;
	border-top: none;
	border-bottom: 3px solid rgba(black, 0.2);
	border-left: 3px solid rgba(black, 0.2);
	border-right: 3px solid rgba(black, 0.2);
	@include borderbox;
	@include border-radius(0 0 5px 5px);

	@media only screen and (min-width: 1024px){
		min-width: 1024px;
	}

	@media only screen and (max-width: 1023px){
		width: 100%;
		border: none;

		.code{
			position: relative;
			top: auto;
			right: auto;
			margin-bottom: $padding;
		}
	}
}

hr{
	margin: 0;
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

.grid{
	padding-bottom: 0;

	[class|=col]{
		padding-bottom: $padding;

		&:hover .item{
			outline: 1px solid rgba(black, 0.25);
		}
	}

	.item{
		text-align: center;
		background-color: rgba(black, 0.2);
		
		span{
			display: inline-block;
			padding: 0.25em 0;
		}
	}
}

h1,
h2,
.details,
.code{
	margin: 0;
	padding: $padding/2 0;
	font-family: 'UbuntuBold', Arial, sans-serif;
	@include text-shadow(0 2px 2px #aaa);

	a{
		&,
		&:visited,
		&:link{
			color: #222;
			text-decoration: none;
		}

		&:hover,
		&:focus{
			@include text-shadow(0 6px 24px #aaa);
		}
	}
}

h2{
	font-size: 1em;
}

.code{
	position: absolute;
	top: 1em;
	right: $padding;
	display: inline-block;
	padding: $padding;
	background-color: #eee;
	border: 1px solid #ccc;
	@include box-shadow(0 0 3px #ddd, 0 0 3px #ddd inset);

	.enabled{
		background-color: #000;
		border: 1px solid #222;
		@include box-shadow(0 0 3px #111, 0 0 3px #111 inset);

		i{
			color: #fff;
		}

		&:hover{
			i{
				color: #222;
			}
		}
	}

	&:hover{
		background-color: #fff;
		border: 1px solid #ddd;
		@include box-shadow(0 0 3px #eee, 0 0 3px #eee inset);
	}
}

.details{
	a{
		display: inline-block;
		margin-right: 1em;
		font-size: 3em;
	}
}

.code-wrap{
	text-align: left;
	padding: 0 $padding;
}

.hidden{
	display: none;
}

.invisible{
	color: transparent;
}